example/node_modules

example/.woke-build
example/.woke-logs
example/.env
example/pytypes
example/tests/__pycache__/
example/scripts/__pycache__/
example/*.py[cod]
example/.hypothesis/
example/woke-coverage.cov
